.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 213%;
    background-color: rgba(0, 0, 0, .33);
    z-index: 100;
    display: none;
    transition: 1s;
}

.cart-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    height: 100vh;
    transition: 1s;
    z-index: 110;
    background-color: rgb(246,194,206);
    padding: 3.33rem;
    transform: translateX(100%);
}

.cart {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    position: relative;
    height: 100%;
}

.cart-title {
    width: 80%;
    font-size: 1.6rem;
    color: rgb(45,50,91);
    margin-bottom: 3rem;
    font-family: "Oswald-Light", sans-serif;
}

.cart-close {
    width: 20%;
    text-align: right;
    font-size: 1.5rem;
    color: rgb(45,50,91);
    cursor: pointer;
    transition: .5s;
    margin-bottom: 3rem;
}

.cart-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.cart-item-image {
    width: 33.33%;
}

.cart-item-product {
    width: 66.66%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2rem;
}

.cart-item-product-count {
    width: 33.33%;
}

.checkout-box {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.no-checkout {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    color: darkred;
    text-align: center;
    visibility: hidden;
}

.subtotal-box {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.subtotal-txt {
    width: 66.66%;
    display: inline-block;
    font-size: 1.3rem;
    color: rgb(45,50,91);
    font-family: "Oswald-Light", sans-serif;
}

.subtotal-sum {
    font-size: 1.6rem;
    color: rgb(45,50,91);
    width: 33.33%;
    text-align: right;
    display: inline-block;
    font-weight: 600;
    font-family: "Oswald-Light", sans-serif;
}

.subtotal-link {
    position: relative;
    font-family: "Oswald-Light", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: .05rem;
    display: inline-block;
    background-color: #0d927d;
    z-index: 30;
    overflow: hidden;
    width: 100%;
}

.subtotal-link .checkout {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1.2rem 2rem 1rem 2rem;
    text-align: center;
}

.subtotal-link-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #2d325b;
    transform: translateY(-100%);
    transition: .5s;
    z-index: -1;
}

.subtotal-link:hover .subtotal-link-overlay {
    transform: translateY(0);
}

.product-name {
    width: 100%;
    padding: 0 0 .5rem 0;
    font-size: 1.8rem;
    line-height: 2rem;
    color: rgb(45,50,91);
    font-family: "Oswald-Bold", sans-serif;
    font-weight: 600;
}

.product-price {
    width: 100%;
    padding: .5rem;
    font-size: 1.5rem;
    color: rgb(45,50,91);
    font-family: "Oswald-Light", sans-serif;
}

.product-delete {
    width: 100%;
    padding: .5rem;
    font-family: "Oswald-Light", sans-serif;
}

.product-delete a {
    font-size: 1rem;
    color: rgb(45,50,91);
    transition: .5s;
}

.cart-item-product-count {
    width: 33.33%;
    text-align: right;
    font-family: "Oswald-Light", sans-serif;
}

.cart-item-product-count span {
    display: inline-block;
    padding: .5rem 1rem;
    border: 1px solid black;
}